.panel {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  text-align: left;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.pricing-plan:last-child {
  border-bottom: none;
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
  border-radius: 50%;
}

.pricing-header {
  color: #000000;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.pricing-features {
  margin: 25px 0;
  color: #000000;
  list-style-type: none;
  padding: 0;
}

.pricing-features-item {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #e1f1ff;
}

.pricing-features-item:first-child {
  border-top: none;
}


.pricing-button {
  border: 1px solid #000000;
  border-radius: 10px;
  color: #000000;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
  transition: background-color 200ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  background-color: #000000;
  color: white;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:focus {
  background-color: #baced5;
  color: white;
}

@media (min-width: 900px) {
  .panel {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex: 1;
    max-width: 30%;
    margin: 20px;
  }
  .pricing-plan:last-child {
    border-right: none;
  }
}
